<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
    <title>{{ page.title }} - {{ site.course}}</title>
  </head>
    <body id="page-top">
      <div id="container" data-role="page">
      {% include nav.html %}
        <div id="content"  class="ui-content">
          <h1>{{page.title}}</h1>
          {{ content }}
        </div><!-- content -->
        {% include footer.html %}
      </div><!-- container -->
      <p><b>LAST DAY OF CLASS IS WEDNESDAY, MARCH 14th. WATCH FOR DUE DATES OF YOUR ASSIGNMENTS!</b></p>
      <p>FINAL EXAM IS SET FOR: WEDNESDAY, MARCH 21st from 8:00 AM thru 11:00 AM.</p>
  </body>
</html>
